@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-family: "Poppins", sans-serif;
  background-color: black;
  padding-bottom: 7rem;
}

.profileHeader {
  font-size: 3em;
  margin-top: 6.3rem;
  color: #f7f8fa;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: normal;
  line-height: 111.5%;
  /* 27.875px */
  margin-bottom: 20px
}

.containerButtons {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.notPressedButton {
  height: 7.6rem;
  min-width: 3.3rem;
  color: #fff;
  background-color: #29292e;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  flex-direction: row;
  gap: 10px;
  padding: 1rem;
}

.button {
  height: 7.6rem;
  min-width: 3.3rem;
  background-color: #29e33c;
  color: #000000;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  flex-direction: row;
  gap: 10px;
  padding: 1rem;
}

.booked {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #C4C4CC;
  background-color: #29292e;
  width: 324px;
  height: 42px;
  border: solid;
  border-color: #381c1c;
  background-color: #381c1c;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.horas {
  background-color: #29292e;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 324px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fatherContainer {
  display: flex;
}

.containerPlusConfirmed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #29292e;
  width: 324px;
  height: 42px;
  border: solid;
  border-color: #29e33c;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.confirm {
  background-color: #29e33c;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  border: none;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.aulaMarcada {
  display: flex;
  width: 300px;
  height: 150px;
  padding: 50px 20px;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #29292e;
}

.inforConfirmation {
  color: var(--Neutral-Colors-White, var(--Primaty-color, #fff));
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  /* 25.6px */
}

.buttonGroup {
  display: flex;
  align-items: center;
  background-color: #29292e;
  border-radius: 4px;
  width: 331px;
  height: 30px;
  padding: 0 2px;
}

.buttonBox {
  background-color: #29292e;
  color: white;
  border: none;
  height: 26px;
  width: 163px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  flex-grow: 1;
  /* Os botões ocuparão todo o espaço disponível */
  max-width: calc(50%);
  /* Cada botão ocupará metade do espaço disponível */
  font-family: "Poppins", sans-serif;
}

.buttonBox:last-child {
  margin-right: 0;
  /* Removendo a margem direita do último botão */
}

/* Mudando as cores quando um botão estiver ativo */
.buttonBox.active {
  background-color: #29e33c;
  color: black;
}