@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.appointmentsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2.5rem;
    background-color: black; /* Light gray background */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.appointmentCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background: #29292E; /* White background for cards */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    font-family: "Roboto", sans-serif; /* Changed font to Roboto */
    color: #333; /* Darker text color */
}

.date {
    font-size: 1.25rem;
    font-weight: bold;
    color: #007bff; /* Blue color for the date */
}

.info {
    flex-grow: 1;
    display: flex;
    gap: 3rem;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff; 
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
}


.cancelButton {
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 0.5rem;
    color: #dc3545; /* Red color for the cancel icon */
    transition: color 0.2s;
}

.cancelButton:hover {
    color: #c82333; /* Darker red on hover */
}