* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
  
  :root {
    --primary-color: #29E33C;
    --bg-color: #000000;
    --card-color: #29292E;
    
    height: 100vh;
    font-size: 62.5%;
  }
