.profileContainer {
  height: 100vh;
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.profileHeader {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 6.3rem;
}

.profilePic {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  border: 2px solid #29e33c;
  background-image: url("/assets/fotoPerfil.png");
  background-color: lightgray;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

.changePhoto {
  color: #29e33c;
  cursor: pointer;
  font-size: 1.5em;
  width: 9rem;
  justify-content: center;
  align-items: center;
  margin-top: 1.1rem;
  font-weight: 600;
}

.form {
  width: 300px;
  padding: 16px;
  align-items: center;
  gap: 8px;
  padding-right: 30px;
}

.formInput {
  width: 100%;
  padding: 16px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
  font-size: 1.7em;
  height: 24px;
  color: #c4c4cc;
  font-family: "Poppins", sans-serif;
  background-color: var(--card-color);
}

.numericContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
  max-width: 400px;
  padding-left: 10px;
}

.numericBox {
  background-color: var(--card-color);
  padding: 10px;
  border-radius: 5px;
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.numericInput {
  font-family: "Poppins", sans-serif;
  background: none;
  border: none;
  color: #C4C4CC;
  font-size: 2em;
  text-align: center;
  width: 100%;
}

.label {
  font-size: 1.2em;
  padding-top: 5px;
}

.dobleButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.buttonSave {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.6rem;
  padding: 1.6rem;
  margin-top: 2.2rem;
  background: var(--primary-color);
  color: #000;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

.buttonLogOut{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.6rem;
  padding: 1.6rem;
  margin-top: 1.5rem;
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.6rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

.buttonLogOut:active {
  background-color: #3e8e41;
}

.buttonLogOut svg {
  margin-left: 8px;
}
