@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom,
      rgba(28, 28, 30, 0) 0%,
      rgba(28, 28, 30, 0.8) 60%,
      #000000 80%),
    url("/assets/background-image.png");
  background-size: 100% 75%;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}

.blackBackground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #000000, #252424);
  z-index: -1;
}

.content {
  background-color: transparent;
  margin-top: 15.8rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-top: 12.6rem;
  width: 270px;
  height: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.subTitle {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.input {
  display: flex;
  gap: 8rem;
  width: 30.8rem;
  height: 2.4rem;
  padding: 1.6rem;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  border-radius: 0.6rem;
  background-color: var(--card-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button {
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem;
  margin-top: 2.2rem;
  background: var(--primary-color);
  color: #000;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.buttonCreate {
  width: 34.8rem;
  height: 5.6rem;
  padding: 1.6rem;
  margin-top: 8.5rem;
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.6rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

